#container{
  padding: 100px;
  justify-content: center;
}

#buttons {
 margin-right: 600px;
 padding: 30px;
}

#buttons > button{
 border-radius: 8px;
 background-color: goldenrod;
 font-size: 18px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#waves{
  display: flex;
  flex-direction: column;
}

#effects{
 
  padding: 0 10px;
  display: flex;
  flex-direction: column;
}

#buttons2{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#boxes{
  display: flex;
}

.dropdown{
  margin-bottom: 3px;
}

h1{
  font-family: monospace;
  font-size: 60px;
  inset-inline-start: 200px;
}
